@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <hr class="my-4">
            <p>Your privacy is important to us. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information when you visit our website.</p>

            <h2>Information We Collect</h2>
            <p>We may collect personal information that you provide directly to us, including but not limited to your name, email address, and any other information you choose to share.</p>

            <h2>How We Use Your Information</h2>
            <p>We may use the information we collect from you to:</p>
            <ul>
                <li>Personalize your experience on our website.</li>
                <li>Improve our website's functionality and content.</li>
                <li>Send you periodic emails with updates and news (if you opt-in).</li>
            </ul>

            <h2>Sharing Your Information</h2>
            <p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent. However, we may share your information with trusted third parties who assist us in operating our website or conducting our business.</p>

            <h2>Security</h2>
            <p>We take reasonable precautions to protect your personal information. However, no method of transmission over the internet or electronic storage is completely secure.</p>

            <h2>Changes to This Privacy Policy</h2>
            <p>We reserve the right to update this Privacy Policy as needed. Any changes will be posted on this page.</p>

            <p>If you have any questions or concerns about this Privacy Policy, please <a href="https://www.infrasyst.com">contact us</a>.</p>
        </div>
    </div>
</div>
